body {
    background-color: #333 !important;
    height: 100vh !important;
    width: 100vw !important;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
}

#video-container {
    display: block;
    margin: auto;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 534px;
}

#uploadBtn {
    position: absolute;
    left: 20px;
}

.nav-link {
    padding: 1px 5px !important;
}

.btn:focus {
    box-shadow: none !important;
}
